aiohttp==3.8.1
aiohttp-sse==2.1.0
aiosignal==1.2.0
async-timeout==4.0.2
attrs==20.3.0
chardet==3.0.4
charset-normalizer==2.0.9
frozenlist==1.2.0
idna==2.10
jeepney==0.7.1
multidict==5.1.0
pystache==0.5.4
typing-extensions==3.7.4.3
yarl==1.6.3
youtube-dl==2021.12.17
