# Note: install in one of the following locations:
# - ~/.config/sytemd/user/
# - /usr/lib/systemd/user/
[Unit]
Description=VLC media player DBus activated service

[Service]
Type=dbus
BusName=org.mpris.MediaPlayer2.vlc
Environment="LD_LIBRARY_PATH=/home/jbellon/test/ytube-dl/vlc/install/usr/lib64"
ExecStart=/home/jbellon/test/ytube-dl/vlc/install/usr/bin/vlc -I "dummy"
