<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title>Jukebox</title>
        <link rel="stylesheet" href="/assets/layout.css">
        <script type="text/javascript" src="/assets/submit.js"></script>
    </head>
    <body onload="onLoad()">
        <div>
            <div id="mid-panel" class="panel">
                <h1>Coronation Rd. Jukebox</h1>
                {% if mobile %}
                I see you are using your phone.
                {% endif %}
                <form id="search">
                    <input type="text" id="query" name="query">
                    <input type="submit" value="Queue">
                </form>
                <div id="current"{% if not current %} class="undefined"{% endif %}>
                    <h2>Now playing</h2>
                    <div id="title">{% if current %}{{current.title}}{% endif %}</div>
                    <img id="thumbnail" width="30%" src="{%if current %}{{current.caption}}{% endif %}"/>
                </div>
                <div id="playlist"{% if not next %} class="undefined"{% endif %}>
                    <h2>Coming next</h2>
                    <table id="next">
                        <tr><th>#</th><th>Title</th></tr>
                        {% for track in next %}
                        <tr>
                            <td>{{track.pos}}</td>
                            <td>{{track.title}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
