<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Jukebox</title>
        <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm_theme_big-stone.min.css">
        <link rel="stylesheet" href="/assets/layout.css">
        <script type="text/javascript" src="/assets/submit.js"></script>
    </head>
    <body>
        <h1>Coronation Rd. Jukebox</h1>
        <div class="current">
            <h2>Now playing</h2>
            {{#current}}
            <div id="title"><p>{{title}}. {{uploader}}.</p></div>
            <img id="thumbnail" width="30%" src="{{caption}}"/>
            <p id="tags">{{#tags}}{{.}}{{#hasNext}}, {{/hasNext}}{{/tags}}</p>
            {{/current}}
        </div>
        <div class="playlist">
            <h2>Next</h2>
            <table>
                {{#next}}
                <tr>
                    <th>{{id}}</th>
                    <th>{{title}}</th>
                </tr>
                {{/next}}
            </table>
        </div>
        <form id="search">
            <input type="text" id="query" name="query">
            <input type="submit" value="Queue">
        </form>
        <ul id="list">
        </ul>
        <script>
            var form = document.getElementById("search");
            form.addEventListener('submit', function (e) {
                e.preventDefault(); // Prevent submitting the form
                doSubmit();
            });
        </script>
    </body>
</html>
