<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title>Jukebox</title>
        <link rel="stylesheet" href="/assets/layout.css">
        <script type="text/javascript" src="/assets/submit.js"></script>
    </head>
    <body onload="onLoad()">
        <div>
            <h1>Collaborative Jukebox</h1>
            <div id="mid-panel" class="panel">
                <form id="search">
                    <label for="query">Search your favourite song and press 'Queue'</label>
                    <input type="text" id="query" name="query">
                    <input type="submit" value="Queue">
                </form>
                <h2>Now playing</h2>
                <div id="current"{% if not current %} class="undefined"{% endif %}>
                    <img width="30%" src="{%if current %}{{current.caption}}{% endif %}"/>
                    <span class="track-title">{% if current %}{{current.title}}{% endif %}</span>
                </div>
                <h2>Coming next</h2>
                <div id="playlist"{% if not next %} class="undefined"{% endif %}>
                    <ul>
                        {% for track in next %}
                        <li>
                            <span class="track-no">{{track.pos}}</span>
                            <span class="track-title">{{track.title}}</span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
