<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title>Jukebox</title>
        <link rel="stylesheet" href="/assets/layout.css">
        <script type="text/javascript" src="/assets/submit.js"></script>
    </head>
    <body onload="onLoad()">
        <div>
            <div id="mid-panel" class="panel">
                <h1>Coronation Rd. Jukebox</h1>
                {{#mobile}}
                I see you are using your phone.
                {{/mobile}}
                <form id="search">
                    <input type="text" id="query" name="query">
                    <input type="submit" value="Queue">
                </form>
                <div id="current"{{^current}} class="undefined"{{/current}}>
                    <h2>Now playing</h2>
                    <div id="title">{{#current}}{{title}}{{/current}}</div>
                    <img id="thumbnail" width="30%" src="{{#current}}{{caption}}{{/current}}"/>
                </div>
                <div id="playlist"{{^next}} class="undefined"{{/next}}>
                    <h2>Coming next</h2>
                    <table id="next">
                        <tr><th>#</th><th>Title</th></tr>
                        {{#next}}
                        <tr>
                            <td>{{pos}}</td>
                            <td>{{title}}</td>
                        </tr>
                        {{/next}}
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
