body {
    background-color: #364e59ff;
    color: #dededeff;
    font-size: large;
}
h1, h2 {
    text-align: center;
}
.panel {
}
.undefined {
    display: none;
}
#mid-panel.div {
    display: table-cell;
}
#mid-panel {
    width: 50%;
    margin: 0 auto;
}
.form-item {
    display: table-cell;
}
#thumbnail {
    width: 15em;
}
th, td {
    text-align: left;
    padding: 0 0 1em 2em;
}
tbody.nth-child(odd) {
    background-color: #0e232eff;
}
