h2 {
    vertical-align: middle;
    height: 2em;
}
.undefined {
    display: none;
}
.current {
    float: left;
    margin-right: 1em;
}
.playlist {
    float: auto;
}
#thumbnail {
    width: 15em;
}
